<ion-header>
  <ion-toolbar>
    <ion-back-button  slot="start" defaultHref="/home">
    </ion-back-button>
    <ion-title>Historial de infracciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="tabla">

  <table id="contentToConvert">
    <thead>

        <tr>
          <th>Fecha</th>
          <th>Coordinates</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody *ngFor="let in of insfracciones">
        <tr>
            <td >{{in.fecha}}</td>
            <td>{{in.coordinates}}</td>
            <td><button class="borrar remove input2" (click)="open(in.fecha, in.speedLimit, in.yourSpeedLimit, in.coordinates, in.lugar)"><span class="text">Detalles</span></button></td>   
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>
