<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Smart Road
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
     <ion-title size="large" ><h1> Smart Road</h1></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-title size="large" class="ion-text-center ion-padding-top">Smart Road</ion-title>
    <ion-card id="leyenda" >
      <ion-card-header id="header">
        Sobre nosotros
      </ion-card-header>
      <ion-card-content > 
        Esta aplicacion es para poder ver en que
        momento se estan excediendo o quebrantando
        alguna ley en carretera, esto es para poder
        llevar un registro de el comportamiento del
        usuario en las carreteras
      </ion-card-content> 
    </ion-card>

    <ion-button>comentario</ion-button>

    <ion-button [routerLink]="['/historial']"> historial</ion-button> 

</ion-content>
