#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#leyenda{
  border: rgba(255, 255, 255, 0.726) 2px solid;
  margin-top: 40px;
  padding: 10px; 
  border-radius: 20px;
  text-align: justify;
}
#header{
  text-align: center;
}
#logosamrt{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  
}

* {box-sizing: border-box;}
.wrapper {
  max-width: 940px;
  margin: 0 auto;
}

.wrapper > div {
  border-radius: 5px;
  padding: 1em;

}

.wrapper {
  display: grid;

  grid-auto-rows: minmax(100px, auto);
}

.three {

  padding-right: 3rem;
  grid-column: 1;
  grid-row: 1 / 5;
}
.five {
  grid-column: 2;
  grid-row: 3/5;
}
.six {
  grid-column: 2;
  grid-row: 2/5;
}